<footer>
<div class="f-info">
    <div class="f-info-socials">

        <i class="fa-brands fa-square-facebook" ></i>
        <i class="fa-regular fa-envelope"></i>
        <i class="fa-brands fa-linkedin" href="https://www.linkedin.com/in/naveenkumar-reddy-k-6bb998221/"></i>
    </div>
    <div  class="f-info-brand">&copy;wanderlust Privet Limited</div>
    <div class="f-info-links">
        <a href="/privacy">Privacy</a>
        <a href="/terms">Terms</a>
    </div>
</div>
</footer>