body{
    font-family: "plus jakarta sans",sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
    flex: 1;
}
.navbar{
    height: 5rem;
    background-color: azure;
}
.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}

.nav-link {
    color: #222222 !important;
}

.f-info-links a{
    text-decoration: none;
    color:#222222;
}

.f-info-links a:hover{
    text-decoration: underline;

}


.f-info-socials i{
margin-right: 1rem;
font-size: 1.5rem;
/* vertical-align: middle; */
/* justify-content: center; */
}



.f-info-links,.f-info-socials,.f-info-brand{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.f-info{
    text-align: center;
    display: flex;
    height: 8rem;
    background-color: #ebebeb;
     justify-content: center;
    /* align-items: space-evenly; */
    flex-wrap: wrap;
}
/* CARDS */
.listing-card {
    border: none  !important;
    margin-bottom: 2rem;
}

.card-img-top{
    border-radius: 1rem  !important;
    width: 100% !important;
    object-fit: cover !important;

}
.card-body{
    padding: 0 !important;
}
/* CARD EFFECT */
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: .3;
    background-color: white;
}
/* SHOE PAGE */
.show-img{
    height: 30vh;
}

.btns{
    display: flex;
}
/* map */

#map { height: 400px;
width: 80vh; }